.alert ul {
    list-style-type: none;  
    margin:0 !important;
    padding:0 !important;
}

.alert li {
    list-style-type: none;  
    margin:0 !important;
    padding:0.1rem !important;
}

.focus-opacity:hover {
    opacity: 1;
}

.focus-opacity {
    opacity: 0.5;
}

.href-no-style {
    text-decoration:inherit;
    color:inherit;
}

.href-no-style:hover {
    text-decoration:inherit;
    color:inherit;
}

.link-bold {
    text-decoration: none;
    font-size: 1.0rem;
}

.link-bold:hover {
    font-weight: bold;
}

.nav-item .nav-link:hover {
    font-weight: bold;
}