{% if request.user.is_authenticated %}
    <form method='POST' action="{% url 'accounts:password-change' %}"> {% csrf_token %}
        {% for field in form  %}
            <div class="row mb-3">
                <p  class="col-4"><label for="{{ field.id }}" class="ccol-form-label">{{ field.label }}</label></p>
                <div class="col-8" >
                    {{ field }}
                </div>  
                {% if not form.errors %}
                    {% if field.help_text %}
                        <small class="help-text-lists form-text text-muted mt-4">
                            {{ field.help_text }}
                        </small>
                    {% endif %}
                {% endif %}
            </div>
            {% if form.errors %}
                {% if field.errors %}
                    <div class="row justify-content-end pe-2 ps-4">
                        <div class="alert alert-danger col-8 p-0 text-center" role="alert">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        <input class="mt-3 btn btn-outline-secondary" type="submit" value="Change password"> 
    </form>
{% endif %}