{% extends 'base.html' %}

{% block content %}
  <div class="card col-lg-8 mx-auto">
    <h5 class="card-header">
      Password Change {% if changed %}<span class="badge text-bg-success"> Saved </span>{% endif %}
    </h5>
    <div class="card-body">
      {% comment %}
      <h5 class="card-title">Special title treatment</h5>
      {% endcomment %}
      <p class="card-text fw-light">Change your account password.</p>
      <div id="password-change-container">
        {% include 'accounts/partials/password-change-form.html' %}
      </div>
    </div>
  </div>
{% endblock content %}
