{% extends 'base.html' %}

{% load static %} 

{% block content %}
    <h3><span class="badge bg-secondary ">{{ article_obj.get_topic_display }}</span></h3>
    <h1 class="my-0">{{ article_obj.name }}
        {% if article_obj.author == request.user %}
            <a  class="btn btn-outline-secondary px-2 py-1" href="{{ article_obj.get_edit_url }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"></path>
                </svg>
            </a>
        {% endif %}
    </h1> 
    <small class="text-muted"> by {% if article_obj.user is None %} Anonymus Author {% else %} {{ article_obj.user }} {% endif %}{% if article_obj.user == request.user %}(You){% endif %}</small>
    <p class="mt-2"> {{ article_obj.timestamp|date:'F j, Y' }} {% if article_obj.updated != article_obj.timestamp %} (updated) {% endif %} </p>
    <img src="{{ article_obj.image.url }}" class="img-fluid rounded border border-white border-3 w-100 h-auto" alt="Responsive image">
    <br>
    <p class="lh-base mt-4 text-justify">{{ article_obj.content }}</p>
    <br>
    <h3 class="mb-4"> Comments </h3>  
    {% comment %} <div hx-get="{% url 'articles:hx-comment-list' parent_slug=article_obj.slug %}" hx-trigger="revealed">  {% endcomment %}
    <div hx-get="{{ article_obj.get_hx_comment_list_url }}" hx-trigger="revealed">
        <div class="hmtx-indicator"> Loading... </div>
    </div>
{% endblock content %}

