<table class="table fw-normal table-hover mt-3">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Topic</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Updated</th>
            <th scope="col">Comments</th>
            {% comment %} <th scope="col">FrontPage</th> {% endcomment %}
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for article in article_list %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ article.title|truncatechars:35 }}</td>
                <td>{{ article.get_topic_display }}</td>
                <td>{{ article.timestamp }}</td>
                <td>{% if article.timestamp != article.updated %}{{ article.updated }}{% else %}-{% endif %}</td>
                <td>{{ article.get_number_of_comments }}</td>
                {% comment %} <td>True{{ article.is_in_front_page }}</td> {% endcomment %}
                <td>
                    <a class="href-no-style link-bold" href="{{ article.get_edit_url }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </a>
                </td>
                <td>
                    <a class="href-no-style link-bold " href="{{ article.get_absolute_url }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-right-square" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.854 3.146a.5.5 0 1 0-.708.708L9.243 9.95H6.475a.5.5 0 1 0 0 1h3.975a.5.5 0 0 0 .5-.5V6.475a.5.5 0 1 0-1 0v2.768L5.854 5.146z"/>
                        </svg>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>